*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1300px;
    padding-inline: 10px;
    margin-inline: auto;
}


header{
    
    background-color: rgb(255, 105, 0);
    height: 80px;
}


h3{
    color: white;
    padding-left: 5px;
}

.sex{
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 25px;
    padding-left: 10px;
}

.logo{
    display: flex;
    justify-content: center;
    
}

.img{
   height: 30px;
   
}

.icon{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 10px;
    padding-left: 10px;
}
.image{
    height: 500px;
    position: relative;
}


   


main{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.heart{
    height: 20px;
    width: 20px;
    background-color: red;
    position: absolute;
   
    
}


   
    

   

